*.o
*.a
*.slxc
/*.csv
slprj/
/examples/*
!/examples/*.md
!/examples/src
!/examples/include
/*build*
/src/defines.h
Dockerfile
/arm*
/bin/*
/lib/*
.vscode

/products*/*
!/products*/.gitkeep
*.dSYM

/MATLAB/mqtt_pub.m
/MATLAB/mqtt_sub.m
/MATLAB/simple_axis_3.slx
/MATLAB/simple_axis_data.m